html,
body {
  background-color: white;
  margin: 0px;
  font-family: 'Pink Rocket', sans-serif;
  font-size: 50px;
  height: 100vh;
  overflow-x: hidden;
}

main {
    font-family: 'Open Sans';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 100px;
}

.logo {
    margin-left: 10px;
}

.nav-links {
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    color: #FAE5B4;
}

.nav-links a {
    display: flex;
    align-items: center;
    color: #CC2F4D;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links a:hover {
    color: #F9B495;
}

.nav-links a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #F9B495;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
  
.nav-links a:hover::before {
    width: 100%;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    position: relative;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 40px;
    height: 5px;
    background-color: #CC2F4D;
    transition: all 0.3s ease;
}

@media screen and (max-width:1500px) {
    .nav-links {
        width: 70%;
    }
    .nav {
        width: 100%;
        padding: 1%;
    }
    body {
      overflow-x: hidden;
    }
}

@media screen and (max-width:1500px) {
    body {
        overflow-x: hidden;
    } 
    .nav-links {
        width: 100%;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 5vh;
        background-color: #F9B495;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FAE5B4;
        transform: translateX(100%);

    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

hr {
  padding: 0px;
  margin: 0px;
  border: 2px solid #CC2F4D;
}

.burger {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #CC2F4D;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.burger span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.burger span:nth-child(1), .burger span:nth-child(2) {
  top: 0px;
}

.burger span:nth-child(3), .burger span:nth-child(4) {
  top: 18px;
}

.burger span:nth-child(5), .burger span:nth-child(6) {
  top: 36px;
}

.burger.open span:nth-child(1),.burger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.open span:nth-child(2),.burger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.burger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.burger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.burger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.burger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.burger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

form {
  border: 3px solid #f1f1f1;
}

.container {
  height: calc(100vh - 100px);
  width: 100vw;
  background: black;
  overflow: hidden;
}

.joinusbtn {
  background-color: #CC2F4D;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 900;
}

button a {
  text-decoration: none;
  color: white;
}

.module {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("rtg_home.JPG");
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 100px);
  position: relative;
}

.mid h2 {
  color: white;
  font-size: 20px;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}