html,
body {
  background-color: white;
  margin: 0px;
  font-family: 'Pink Rocket', sans-serif;
  font-size: 50px;
  height: 100vh;
  overflow-x: hidden;
}

main {
    font-family: 'Montserrat';
    height: calc(100vh - 100px);
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 100px;
}

.logo {
    margin-left: 10px;
}

.nav-links {
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    color: #FAE5B4;
}

.nav-links a {
    display: flex;
    align-items: center;
    color: #CC2F4D;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links a:hover {
    color: #CC2F4D;
}

.nav-links a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #CC2F4D;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
  
.nav-links a:hover::before {
    width: 100%;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    position: relative;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 40px;
    height: 5px;
    background-color: #CC2F4D;
    transition: all 0.3s ease;
}

@media screen and (max-width:1200px) {
    .nav-links {
        width: 70%;
    }
    .nav {
        width: 100%;
        padding: 1%;
    }
    body {
      overflow-x: hidden;
    }
}

@media screen and (max-width:1200px) {
    body {
        overflow-x: hidden;
    } 
    .nav-links {
        width: 100%;
        position: absolute;
        right: 0px;
        height: calc(100vh - 10vh);
        top: 5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        z-index: 100;
    }
    .nav-links li {
        opacity: 0;
        z-index: 200;
        font-size: 18px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
  height: calc(100vh - 100px);
  width: 100vw;
  background: black;
  overflow: hidden;
}

.joinusbtn {
  background-color: #CC2F4D;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
  font-family: "Montserrat";
}

button a {
  text-decoration: none;
  color: white;
}

.module {
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("rtg_home.JPG");
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
}

.mid h2 {
  color: white;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: calc(100vh - 100px);
}